* {
    margin: 0;
    padding: 0;
}
.top {
    height: 1024px;
    background-image: url(img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Montserrat', sans-serif;
    &_title {
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 680px;
        padding-top: 217px;
        margin-bottom: 32px;
    }
    &_content {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        max-width: 481px;
        margin-bottom: 44px;
    }
    &_link {
        font-size: 18px;
        font-weight: 700;
        color: #FFF;
        text-decoration: none;
    }
    &_link:hover {
        text-decoration: underline;
    }
    &_button {
        width: 234px;
        height: 48px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #FFF;
        border-radius: 30px;
        background: #9C0332;
        box-sizing: border-box;
        border: 1px solid #9C0332;
        outline: none;
    }
}
.menu {
    height: auto;
    background-image: url(img/bottom_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    row-gap: 32px;
    &_link1 {
        background-image: url(img/game1_back.jpg);
        background-repeat: no-repeat;
        display: block;
        background-size: cover;
        box-sizing: border-box;
        width: 379px;
        height: 300px;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        color: #FFF;
        padding-left: 32px;
        padding-bottom: 32px;
        padding-top: 236px;
        border-radius: 16px;
        outline: none;
        text-decoration: none;
    }
    &_link1:hover {
            text-decoration: underline;
    }
    &_link2 {
        background-image: url(img/game2_back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        box-sizing: border-box;
        width: 379px;
        height: 300px;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        color: #FFF;
        padding-left: 32px;
        padding-bottom: 32px;
        padding-top: 236px;
        border-radius: 16px;
        outline: none;
        text-decoration: none;
    }
    &_link2:hover {
        text-decoration: underline;
    }
    &_link3 {
        background-image: url(img/game3_back.jpg);
        background-repeat: no-repeat;
        display: block;
        box-sizing: border-box;
        background-size: cover;
        width: 379px;
        height: 300px;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        color: #FFF;
        padding-left: 32px;
        padding-bottom: 32px;
        padding-top: 236px;
        border-radius: 16px;
        outline: none;
        text-decoration: none;
    }
    &_link3:hover {
        text-decoration: underline;
    }
}
.seasons {
    font-family: 'Montserrat', sans-serif;
    background-color: #000915;
    max-height: 800px;
    padding-bottom: 282px;
    padding-left: 120px;
    &_title {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 282px;
    }
    &_instruction {
        display: block;
        width: 582px;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

@import 'mobile';